services:
 backend:
  image: $IMAGE:$TAG
  container_name: dev-backend
  environment:
   - ENVIRONMENT=dev
  restart: unless-stopped

 caddy:
  image: caddy:2.7
  container_name: dev-caddy
  ports:
   - "80:80"
   - "443:443"
  volumes:
   - ./Caddyfile.dev:/etc/caddy/Caddyfile
   - caddy_data:/data
   - caddy_config:/config
  depends_on:
   - backend
  restart: unless-stopped

volumes:
 caddy_data:
 caddy_config:
