services:
 backend:
  image: $IMAGE:$TAG
  environment:
   - ENVIRONMENT=dev
  restart: unless-stopped

 caddy:
  image: caddy:2.7
  ports:
   - "8080:80"
   - "4443:443"
  volumes:
   - ./Caddyfile:/etc/caddy/Caddyfile
   - caddy_data:/data
   - caddy_config:/config
  depends_on:
   - backend
  restart: unless-stopped

volumes:
 caddy_data:
 caddy_config:
