services:
 backend:
  image: $IMAGE:$TAG
  container_name: prod-backend
  environment:
   - ENVIRONMENT=prod
  restart: unless-stopped

 caddy:
  image: caddy:2.11-alpine
  container_name: prod-caddy
  ports:
   - "80:80"
   - "443:443"
  volumes:
   - ./Caddyfile.prod:/etc/caddy/Caddyfile
   - prod_caddy_data:/data
   - prod_caddy_config:/config
  depends_on:
   - backend
  restart: unless-stopped

volumes:
 prod_caddy_data:
 prod_caddy_config:
