services:
 backend:
  image: $IMAGE:$TAG
  container_name: dev-backend
  environment:
   - ENVIRONMENT=dev
  restart: unless-stopped

 caddy:
  image: caddy:2.11-alpine
  container_name: dev-caddy
  ports:
   - "8080:80"
   - "4443:443"
  volumes:
   - ./caddy/Caddyfile.dev:/etc/caddy/Caddyfile
   - dev_caddy_data:/data
   - dev_caddy_config:/config
  depends_on:
   - backend
  restart: unless-stopped

volumes:
 dev_caddy_data:
 dev_caddy_config:
